name: Release
on:
push:
tags: ["v[0-9]+.[0-9]+.[0-9]+"]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - run: |
          IMG="ghcr.io/${{ github.repository }}"
          IMG=${IMG@L}  # lower case the image
          docker build --tag $IMG:latest .
          docker push --all-tags $IMG